target/
!.mvn/wrapper/maven-wrapper.jar
.ascii_art
.env
.env.local
.env.*.local

# Log files
*.log
log/

# IDEs and editors
.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.classpath
.project
.factorypath
